<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Install mediaGet</title>
<script id="w8xmainAuto-4-80-1327-0" src='./js/jquery.min.1.6.4.js'  type='text/javascript' >
</script>

<script id="w8xmainAuto-4-80-1328-0" src='./js/jquery-ui.min.1.8.0.js' type='text/javascript'  >
</script>
<style>
	.progressbarContainer { position:absolute;left:30px;top:295px;width:755px; }
	.ui-progressbar { margin-top:-5px;height:10px;text-align: left; }
	.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
	
	.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
	.ui-widget .ui-widget { font-size: 1em; }
	.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
	.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ /*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
	.ui-widget-content a { color: #222222/*{fcContent}*/; }
	.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ /*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
	.ui-widget-header a { color: #222222/*{fcHeader}*/; }
	
	/* Corner radius */
	.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
	.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -khtml-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }
	
	.ui-progressbar-value { /*background-image: url(./img/pbar-ani.gif);*/ background-color: #92D030;  }
	.posterImg { margin-left: 30px; margin-top: 20px; border:0;/*width:145px;*/ }
	.playerImg { margin: 0px;border:0;width:594px; height:221px; background: transparent url(./img/player.jpg) no-repeat; }
	.mediaImg { margin: 0px;border:0;width:252px; height:204px; background: transparent url(./img/media.png) no-repeat; }
	.selPage { background: rgb(230,230,230);/*transparent url(./img/bg.png) no-repeat;*/ width:/*822px*/680px;height:/*356px*/310px;display:none;  }
	
	.lineSeparator { position:absolute;left:30px;top:265px;width:755px;height:3px;background: transparent url(./img/line.jpg) repeat-x; }
	.mainButton { position:absolute;left:653px;top:285px;width:131px;height:47px;cursor:pointer;background:transparent url(./img/start.png) no-repeat; color: white; font-size:18px; font-family: Arial; font-weight: bold; line-height: 44px; text-align: center }
	.backButton { position:absolute;left:150px;top:275px;width:96px;height:45px;cursor:pointer;background:transparent url(./img/back.png) no-repeat; }
	.skipButton { position:absolute;left:550px;top:285px;width:96px;height:45px;cursor:pointer;background:transparent url(./img/skip.png) no-repeat; }
	.footer { position:absolute;left:20px;top:330px;width:780px;font-size:13px;color:#888888}
	.kasperskyImg { margin-top: 30px;left:680px;position:absolute;display:none; }
	.topLine { font-weight:bold;font-size:32px;color:#747373;margin-top:15px;margin-bottom:5px;text-shadow:1px 0 0 black; }
	.posterName { font-weight:bold;font-size:28px;color:#59c500;margin-top:0px;margin-bottom:5px;text-shadow:1px 0 0 grey; }
	.mediagetCaption { font-weight:bold;font-size:28px;color:#59c500;margin-top:0px;margin-bottom:5px;text-shadow:1px 0 0 grey; }
</style>
</head>
<body style="margin:0;padding:0;font-family: arial;">
    <input id="poster" type="hidden" value="##POSTER_NAME##">
    <input id="name" type="hidden" value="##DownloadName##">
    <input id="installProgress" type="hidden" value="0">
    <input id="pageListVal" type="hidden" value="##PAGE_LIST##">
    <input id="currentState" type="hidden"/>
	##PAGES##	
	<script type="text/javascript">
	document.onselectstart = function() { return false; }
       	var poster=document.getElementById('poster').value;
       	var name=document.getElementById('name').value;
       	if(name.length>33){
   			$(".posterName").text(name.substring(0,33)+"...");
   		}else{
   			$(".posterName").text(name);
   		}
       	SetPoster(poster);
       	nextPage(0);
       	function showPage(val){
       		var pages=document.getElementById("pageListVal").value.split(",");
//       		document.getElementById("selPage").innerHTML=document.getElementById(pages[val]).innerHTML;
		for(i = 0; i < pages.length; ++i) 
			document.getElementById(pages[i]).style.display = "none";
		document.getElementById(val).style.display = "block";
       	}
       	function nextPage(val){
       		var pages=document.getElementById("pageListVal").value.split(",");
//       		document.getElementById("selPage").innerHTML=document.getElementById(pages[val]).innerHTML;
		for(i = 0; i < pages.length; ++i) 
			document.getElementById(pages[i]).style.display = "none";
		if(val >= 0 && val < pages.length)
			document.getElementById(pages[val]).style.display = "block";
       	}
       	function SetProgress(progress){
       		$( "#progressbar" ).progressbar({
       			value: parseInt(progress)
       		});
       		document.getElementById('process').innerHTML=Math.round(progress);
       	}
       	function SetPoster(name) { $(".posterImg").attr("src",'./img/' + name); }
    </script>
</body>
</html>
